<div ng-controller="loginController" ng-cloak>
    <!-- for login page -->
    <!-- for logo -->
    <div class="container" ng-clock>
      <div class="row">
        <div class="col xs4 s3 m2" style="float:none;margin:auto;">
          <img src="images/logo.png" class="responsive-img" style="margin:auto;">
        </div>
      </div>
    </div>
    <!-- for loginid -->
    <div class="container" ng-clock>
      <div class="row">
      <br><br><br>
        <div class="input-field" style="width:100%;padding:0 3%;">
          <form>
            <input id="userId" type="text" class="validate" ng-model="userId" required>
            <label for="userId">Enter your Mobile number or Email ID</label>
            <br><br>
            <center><button type="submit" class="btn" style="background: #04B9E6;margin:auto;" ng-click="goToPassword()">NEXT</button></center>
          </form>
        </div>
      </div>
    </div>

    <!-- powered By -->
    <div class="container" ng-clock>
      <div class="row">
      <br><br><br><br><br>
        <div class="" style="width:100%;text-align:center;">
          <div style="color:gray;margin:auto;">Powered By</div>
          <div style="color:gray;margin:auto;">Prackr.com</div>
        </div>
      </div>
    </div>
</div>