<!-- for login page -->
<!-- for logo -->
<div ng-controller="loginController" ng-cloak>
    <div class="container" ng-clock>
        <div class="row">
            <div class="col xs4 s3 m2" style="float:none;margin:auto;">
                <img src="images/logo.png" class="responsive-img" style="margin:auto;">
            </div>
        </div>
    </div>
    <!-- for loginid -->
    <div class="container" style="width:80%;">
        <div class="row">
            <br>
            <br>
            <br>
            <form>
            <center>Hello, {{vm.user}}</center>
                <div class="input-field" style="width:100%;padding:0 3%;">
                    <input id="confirmPassword" type="password" class="validate" ng-model="password" required>
                    <label for="confirmPassword">Enter Password</label>
                    <center>
                        <button type="submit" class="btn" id="loginBtn" style="background: #04B9E6;margin:auto;" ng-click="login()">SIGN UP</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
    <div class="container" style="width:80%;">
        <div class="row">
            <br>
            <div class="" style="width:100%;text-align:center;">
                <div style="color:gray;margin:auto;">Forgot Password, send OTP to</div>
                <div style="color:gray;margin:auto;">"EmailID/MobileNumber"</div>
            </div>
        </div>
    </div>
    <!-- powered By -->
    <div class="container" ng-clock>
        <div class="row">
            <br>
            <br>
            <br>
            <div class="" style="width:100%;text-align:center;">
                <div style="color:gray;margin:auto;">Powered By</div>
                <div style="color:gray;margin:auto;">Prackr.com</div>
            </div>
        </div>
    </div>
</div>
