<!-- for login page -->
    <!-- for logo -->
    <div class="container" ng-clock>
      <div class="row">
        <div class="col xs4 s3 m2" style="float:none;margin:auto;">
          <img src="images/logo.png" class="responsive-img" style="margin:auto;">
        </div>
      </div>
    </div>

    <!-- for loginid -->
    <div class="container" style="width:80%;">
      <div class="row">
      <br>
      <form>
        <div class="input-field" style="width:100%;padding:0 3%;">
            <input id="otp" type="text" class="validate" required>
            <label for="otp">Enter your OTP Number</label>
        </div>
        <div class="input-field" style="width:100%;padding:0 3%;">
            <input id="setNewPassword" type="password" class="validate" required>
            <label for="setNewPassword">Set New Password</label>
        </div>
        <div class="input-field" style="width:100%;padding:0 3%;">
            <input id="confirmPassword" type="password" class="validate" required>
            <label for="confirmPassword">Confirm Password</label>
            <center><button type="submit" class="btn" style="background: #04B9E6;margin:auto;">SIGN UP</button></center>
        </div>
      </form>
      </div>
    </div>

    <!-- powered By -->
    <div class="container" ng-clock>
      <div class="row">
      <br><br>
        <div class="" style="width:100%;text-align:center;">
          <div style="color:gray;margin:auto;">Powered By</div>
          <div style="color:gray;margin:auto;">Prackr.com</div>
        </div>
      </div>
    </div>